<%- include("partials/header.ejs") %>


    <main>
        <h2>Bienvenue sur le trombinoscope de l'école O'clock</h2>
        <a href="/promos">Voir la liste de promos</a>
    </main>

    <%- include("partials/footer.ejs") %>