<%- include("partials/header.ejs") %>

    <main>
        <h1>Promo : Zenith</h1>


        <p>Github : <a href="https://github.com/O-clock-Zenith">https://github.com/O-clock-Zenith</a></p>
        <nav>
            <ul>
                <li><a href="students.html">Liste des étudiants</a></li>
                <li><a href="promo_edit.html">Modifier la promo</a></li>
            </ul>
        </nav>

    </main>
    <%- include("partials/footer.ejs") %>